@import url("clock/clock.css");
@import url("vkladka.css");

@font-face {
	font-family: 'FontName'; 
	src: url(/shrift/Comic_Sans_MS.ttf); 
}

:root {
    --accent-color: #ffa0a0;
}

body {
    font-family: 'Fontname';
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 10%;
}

main {
    padding-top: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7em;
    background-clip: border-box;
    background: #191919;
    border-radius: 7px;
    padding-inline: 8px;
    padding-block: 4px;
    font-weight: 600;
}

.im_weak {
    background-clip: border-box;
    background: #191919;
    border-radius: 7px;
    padding-inline: 8px;
    padding-block: 4px;
    font-weight: 600;
}

.greet-text {
    text-align: center;
}

.greet-text p {
    font-size: 25px;
}

.gradient {
    background: rgb(255, 160, 160);
    background: linear-gradient(143deg, rgba(255, 180, 180) 0%, rgba(255, 140, 140) 50%, rgba(255, 160, 160, 0.1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-title {
    font-size: 30px;
}
.ava {
    border-radius: 5px;
}

#contact p i {
    color: var(--accent-color);
    margin-right: 10px;
    font-size: 20px;
}

#contact p {
    display: flex;
}

#contact{
    position: relative;
    right: 40px;
}


footer p a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

footer p a::before {
    position: absolute;
    content: "";
    bottom: -1px;
    height: 3px;
    width: 0;
    background: var(--accent-color);
    transition: .25s ease-in-out;
}

footer p a:hover::before {
    width: 100%;
}


footer p,
footer p a {
    color: #414141;
}

.VK {
    color: #ffa0a0;
    text-decoration: none;
    position: relative;
    right: -8px;
}

.steam {
    color: #ffa0a0;
    text-decoration: none;
    position: relative;
    right: -8px;
}

.VK2 {
    color: #ffa0a0;
    text-decoration: none;
}

li {
    position: relative;

}

.select-btns {
  display: flex;
  position: fixed;
}
.select-btn-view {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
}
.select-btn-view:hover{
  background-color: #bf7070;
}
.select-btn-radio:checked + .select-btn-view{
  background-color: #ffa0a0;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ffa0a0; /* Set a background color */
  color: #000000; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #717171; /* Add a dark-grey background on hover */
}

@media screen and (max-width: 600px) {
    body {
        font-size:0.9em;
        padding: 5px 1%;
    }
    .tabcontent {
        font-size:1.1em;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size:0.7em;
        padding: 5px 1%;
    }
    .tabcontent {
        font-size:1.3em;
    }
}

.pytischestvie ul {
    padding-left: 40px;
}

:root {
  --background: #060608;
  --color: #FAFAFA;
}

.container {
    color: var(--color);
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 40px;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }
