
:root {
    --accent-color: #ffa0a0;
}

body {
    font-family: 'Open Sans';
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 10%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7em;
    background-clip: border-box;
    background: #191919;
    border-radius: 7px;
    padding-inline: 8px;
    padding-block: 4px;
    font-weight: 600;
}

.im_weak {
    background-clip: border-box;
    background: #191919;
    border-radius: 7px;
    padding-inline: 8px;
    padding-block: 4px;
    font-weight: 600;
}

.greet-text {
    text-align: center;
}

.greet-text p {
    font-size: 25px;
}

.gradient {
    background: rgb(255, 160, 160);
    background: linear-gradient(143deg, rgba(255, 180, 180) 0%, rgba(255, 140, 140) 50%, rgba(255, 160, 160, 0.1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-title {
    font-size: 30px;
}
.ava {
    border-radius: 5px;
}

#contact p i {
    color: var(--accent-color);
    margin-right: 10px;
    font-size: 20px;
}

#contact p {
    display: flex;
}

#contact{
    position: relative;
    right: 40px;
}


footer p a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

footer p a::before {
    position: absolute;
    content: "";
    bottom: -1px;
    height: 3px;
    width: 0;
    background: var(--accent-color);
    transition: .25s ease-in-out;
}

footer p a:hover::before {
    width: 100%;
}


footer p,
footer p a {
    color: #515151;
}

.VK {
    color: #ffa0a0;
    text-decoration: none;
    position: relative;
    right: -8px;
}

li {
    position: relative;
    right: -30px;
}
