
:root {
    --accent-color: #ffa0a0;
}

body {
    font-family: "Comic Sans MS", Times, serif;
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 10%;
}

.clock {
  position: absolute;
  top: 1%;
  width: 2500px;
  margin: -60px auto 0 auto;
  font-size: 60px;
  font-family: Verdana, Arial, Sans-serif;
  text-align: center;
  color: #fff;
}
.clock ul {
  margin: 0 auto;
  list-style: none;
}
.clock ul li {
  display: inline;
}
.clock ul li#separator {
  -moz-animation: myfade 1s ease infinite;
  -webkit-animation: myfade 1s ease infinite;
}

/* Animation */
@-webkit-keyframes myfade {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }   
}

@-moz-keyframes myfade {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  };
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7em;
}

.greet-text {
    text-align: center;
}

.greet-text p {
    font-size: 25px;
}

.gradient {
    background: rgb(255, 160, 160);
    background: linear-gradient(142deg, rgba(255, 160, 160, 1) 0%, rgba(255, 180, 180, 1) 27%, rgba(255, 210, 210, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-title {
    font-size: 30px;
}
.ava {
    border-radius: 5px;
}

#contact p i {
    color: var(--accent-color);
    margin-right: 10px;
    font-size: 20px;
}

#contact p {
    display: flex;
}


footer p a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

footer p a::before {
    position: absolute;
    content: "";
    bottom: -1px;
    height: 3px;
    width: 0;
    background: var(--accent-color);
    transition: .25s ease-in-out;
}

footer p a:hover::before {
    width: 100%;
}


footer p,
footer p a {
    color: #515151;
}

.VK {
    color: var(--accent-color);
     text-decoration: none;
}
