
@font-face {
	font-family: 'FontName'; 
	src: url(/shrift/Comic_Sans_MS.ttf); 
}

:root {
    --accent-color: #ffa0a0;
}

body {
    font-family: 'Fontname';
    background-color: #212121;
    color: #FFFFFF;
    padding: 10px 10%;
}

table {
    height: auto;
    margin-top: 20px;
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    border-spacing: 3px;
    border-collapse: separate;
}

th,td {
      border: 2px solid var(--accent-color);
      border-radius: 5px;
    }

h1 {
    text-align: center;
}

.loader-six {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .loader-six__item {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  .loader-six--1 {
    background-color: #FFa0a0;
    top: 0;
    left: 0;
    z-index: 1;
    animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  .loader-six--2 {
    background-color: #84ff80;
    top: 0;
    right: 0;
    animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  .loader-six--3 {
    background-color: #72bdff;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  .loader-six--4 {
    background-color: #ffe09e;
    bottom: 0;
    left: 0;
    animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  @keyframes item-1_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(0, 50px)}
    50% {transform: translate(50px, 50px)}
    75% {transform: translate(50px, 0)}
  }
  @keyframes item-2_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(-50px, 0)}
    50% {transform: translate(-50px, 50px)}
    75% {transform: translate(0, 50px)}
  }
  @keyframes item-3_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(0, -50px)}
    50% {transform: translate(-50px, -50px)}
    75% {transform: translate(-50px, 0)}
  }
  @keyframes item-4_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(50px, 0)}
    50% {transform: translate(50px, -50px)}
    75% {transform: translate(0, -50px)}
  }